<div class="centered-content">
    <div class="main-container">
        <div class="sidebar has-background-white">
            <h1 class="title">Platform</h1>
            <div class="platform-menu">
                <div class="select is-rounded">
                    <select id="platform_chosen">
                      <option id="psn">PlayStation</option>
                      <option class="xb1">Xbox</option>
                      <option class="battle">Battle.net</option>
                    </select>
                  </div>
            </div>
        </div>
        <div class="info-container has-background-light">
            <div class="field has-addons">
                <div class="control">
                  <input id="gamerTag"class="input" type="text" placeholder="Search a player">
                </div>
                <div class="control">
                  <a class="button is-info has-background-grey" (click)="playerStats()"> Search </a>
                </div>
            </div>
            <div class="current-container">
                <div class="subtitle">Current Stats</div>
                <div class="grid-item1">{{ data['br'].kills }}<br><strong>Kills</strong></div>
                <div class="grid-item2">{{ data['br'].deaths }}<br><strong>Deaths</strong></div>
                <div class="grid-item3">{{ data['br'].kdRatio }}<br><strong>K/D Ratio</strong></div>
                <div class="grid-item4">{{ data['br'].downs }}<br><strong>Downs</strong></div>
                <div class="grid-item5">{{ data['br'].wins }}<br><strong>Wins</strong></div>
                <div class="grid-item6">{{ data['br'].topFive }}<br><strong>Top 5</strong></div>
                <div class="grid-item7">{{ data['br'].topTen }}<br><strong>Top 10</strong></div>
                <div class="grid-item8">{{ data['br'].topTwentyFive }}<br><strong>Top 25</strong></div>
            </div>
            <div class="field has-addons">
                <div class="control">
                  <input id="gamerTagWeek"class="input" type="text" placeholder="Search a player">
                </div>
                <div class="control">
                  <a class="button is-info has-background-grey" (click)="playerStatsWeek()"> Search </a>
                </div>
            </div>
            <div class="this-week-container">
                <div class="subtitle">This Week Stats</div>
                <div class="grid-item9">{{ dataWeek['wz']['mode']['br_all']['properties'].kills }}<br><strong>Kills</strong></div>
                <div class="grid-item10">{{ dataWeek['wz']['mode']['br_all']['properties'].deaths }}<br><strong>Deaths</strong></div>
                <div class="grid-item11">{{ dataWeek['wz']['mode']['br_all']['properties'].kdRatio }}<br><strong>K/D Ratio</strong></div>
                <div class="grid-item12">{{ dataWeek['wz']['mode']['br_all']['properties'].gulagDeaths }}<br><strong>Gulag Deaths</strong></div>
                <div class="grid-item13">{{ dataWeek['wz']['mode']['br_all']['properties'].gulagKills }}<br><strong>Gulag Kills</strong></div>
                <div class="grid-item14">{{ dataWeek['wz']['mode']['br_all']['properties'].matchesPlayed }}<br><strong>Matches Played</strong></div>
                <div class="grid-item15">{{ dataWeek['wz']['mode']['br_all']['properties'].killsPerGame }}<br><strong>Kills per Game</strong></div>
                <div class="grid-item16">{{ dataWeek['wz']['mode']['br_all']['properties'].headshots }}<br><strong>Headshots</strong></div>
            </div>
    </div>
</div>